[Unit]
Description=ffserver streaming server
After=vsrc.service

[Service]
ExecStart=/usr/bin/ffserver -f /root/ppt-graber/ffserver.conf
Type=simple
Restart=always
RestartSec=8
StandardError=null

[Install]
WantedBy=multi-user.target
