[Unit]
Description= source video input
Before=network.target motion.service
After=local-fs.target

[Service]
Type=simple
ExecStartPre=/sbin/modprobe v4l2loopback video_nr=1,2
ExecStart=/root/ppt-graber/ffmpeg-input.sh
Restart=always
RestartSec=3
StandardError=null

[Install]
WantedBy=multi-user.target
